@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap');

html {
    scroll-behavior: smooth;
}  

* {
    font-family: 'Merriweather', sans-serif;
    margin:  0;
    padding: 0;
    font-weight: 700;
}

container-fluid {
    width: 100vw;
}

.navbar {
    z-index: 1;
    margin:  2rem;
    padding: 0;
    background-color: transparent;
    border-bottom-style: solid;
    border-color: #fdb813;
}

.nav-item, .navbar-brand {
    font-size: 2rem;
    font-weight: 900;
    color: #fdb813;
}

.nav-link {
    color: black;
}

.navbar-brand:hover { 
    color: black; 
}

.nav-link:hover { 
    color: #fdb813; 
}

.intro {
    height: 100vh;
    align-items: center;
}

.introPicture {
    width: 100%;
    height: auto;
    border-bottom-style: solid;
    border-color: #fdb813;
}

.videoContainer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
}

.intro h1 {
    text-align: right;
    font-size: 6rem;
    z-index: 1;
    color: black;
    animation-name: view;
    animation-duration: 4s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

.intro h4 {
    text-align: right;
    font-size: 2rem;
    z-index: 1;
    color: #fdb813;
    padding-bottom: 4rem;
    animation-name: view;
    animation-duration: 4s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

.intro p {
    text-align: right;
    font-size: 1.3rem;
    font-weight: 300;
    z-index: 1;
    color: black;
    animation-name: view;
    animation-duration: 4s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

@keyframes view {
	0%   { opacity: 0;}
	50%  { opacity: .5;}
	100%  { opacity: 1;}
}

.aboutMe {
    height: 100vh;
    align-items: center;
}

.aboutMe h1 {
    text-align: left;
    font-size: 6rem;
    color: black;
    padding-bottom: 4rem;
}

.aboutMe p {
    text-align: left;
    font-size: 1.3rem;
    font-weight: 300;
    color: black;
}

.aboutMePicture {
    width: 60%;
    display: block;
    margin: auto;
    border-radius: 0.5rem;
}

.projects {
    height: 100vh;
    align-items: center;
    background-image: url('./../media/projects.jpg');
    background-size: cover;
}

.projects h1 {
    text-align: right;
    font-size: 6rem;
    color: black;
}

.projects p {
    text-align: right;
    font-size: 1.3rem;
    font-weight: 300;
    color: black;
    padding-top: 1rem;
}

.projects a {
    color: #fdb813;
}

.projectsPicture {
    width: 70%;
    display: block;
    margin: auto;
    border-radius: 0.5rem;
}