@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap');

html {
    scroll-behavior: smooth;
}  

* {
    font-family: 'Merriweather', sans-serif;
    margin:  0;
    padding: 0;
    font-weight: 700;
}

.navbar {
    z-index: 1;
    margin:  2rem;
    padding: 0;
    background-color: transparent;
    border-bottom-style: solid;
    border-color: #fdb813;
}

.navbar-toggler-icon {
    background-color: #fdb813;
    border-radius: 0.5rem;
}

.nav-item, .navbar-brand {
    font-size: 2rem;
    font-weight: 900;
    color: #fdb813;
}

.nav-link {
    color: black;
}

.navbar-brand:hover { 
    color: black; 
}

.nav-link:hover { 
    color: #fdb813; 
}

.intro {
    height: auto;
    align-items: center;
}

.introPicture {
    width: 100%;
    height: auto;
    border-bottom-style: solid;
    border-color: #fdb813;
}

.videoContainer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
}

.intro h1 {
    text-align: right;
    font-size: 6rem;
    z-index: 1;
    color: black;
}

.intro h4 {
    text-align: right;
    font-size: 2rem;
    z-index: 1;
    color: #fdb813;
    padding-bottom: 3rem;
}

.intro p {
    text-align: right;
    font-size: 1.3rem;
    font-weight: 300;
    z-index: 1;
    color: black;
}

.aboutMe {
    height: auto;
    align-items: center;
}

.aboutMe h1 {
    text-align: left;
    font-size: 6rem;
    color: black;
    padding-bottom: 4rem;
}

.aboutMe p {
    text-align: left;
    font-size: 1.3rem;
    font-weight: 300;
    color: black;
}

.aboutMePicture {
    width: 60%;
    display: block;
    margin: auto;
    border-radius: 0.5rem;
}

.projects {
    height: auto;
    align-items: center;
    background-image: url('./../media/projects.jpg');
    background-size: cover;
}

.projects h1 {
    text-align: right;
    font-size: 6rem;
    color: black;
    margin-top: 4rem;
}

.projects h4 {
    text-align: right;
    font-size: 2rem;
    color: #fdb813;
}

.projects p {
    text-align: right;
    font-size: 1.3rem;
    font-weight: 300;
    color: black;
}

.projects a {
    color: black;
    background-color: #fdb813;
    border-radius: 0.5rem;
}

.projectsPicture {
    width: 70%;
    display: block;
    margin: auto;
    border-radius: 0.5rem;
}

.tools {
    height: auto;
    align-items: center;
}

.tools h1 {
    text-align: left;
    font-size: 6rem;
    color: black;
}

.tools h4 {
    text-align: left;
    font-size: 2rem;
    color: #fdb813;
    padding-bottom: 4rem;
}

.tools p {
    text-align: left;
    font-size: 1.3rem;
    font-weight: 300;
    color: black;
}

.toolsLogo {
    width: auto;
    display: block;
    margin: auto;
    border-radius: 0.5rem;
}

.contactMe {
    height: auto;
    align-items: center;
    background-image: url('./../media/contactMe.jpg');
    background-size: cover;
}

.contactMe h1 {
    text-align: right;
    font-size: 6rem;
    color: black;
}

.contactMe p {
    text-align: right;
    font-size: 1.3rem;
    font-weight: 300;
    color: black;
}

.contactMeEmail {
    background-color: #fdb813;
    border-radius: 0.5rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    justify-content: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
    color: white;
}

.contactMeEmail h4 {
    text-align: center;
    margin-bottom: 0;
    font-size: 1.3vw;
}

.sendEmail {
    padding: 1.5vw;
    font-size: 1.5vw;
    font-weight: 900;
    background-color: white;
    color: #fdb813;
    border-radius: 2rem;
    display: block;
    text-align: center;
}

.sendEmail:hover { 
    color: #fdb813;
    text-decoration: none;
}

.contactMeLogos {
    background-color: #fdb813;
    border-radius: 0.5rem;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding-bottom: 3rem;
}

.contactMeLogos a {
    margin: auto;
}

.contactMeLogo {
    height: 75px;
    width: 75px;
}

.footer {
    justify-content: space-between;
    border-top-style: solid;
    border-width: 0.1rem;
    border-color: #fdb813;
    padding-top: 2rem;
    margin: 2rem;
}

.revealFromRight {
    position: relative;
    transform: translateX(200px);
    opacity: 0;
    transition: 1s all ease;
}

.revealFromRight.active {
    transform: translateX(0);
    opacity: 1;
}

.revealFromLeft {
    position: relative;
    transform: translateX(-200px);
    opacity: 0;
    transition: 1s all ease;
}

.revealFromLeft.active {
    transform: translateX(0);
    opacity: 1;
}

@media (max-width: 991px){

    container-fluid {
        margin: 0;
        padding: 0;
    }

    .introPicture {
        padding-top: 5vh;
        height: 50vw;
        width: auto;
        display: flex;
        margin: auto;
    }

    .intro h1, .intro h4, .intro p, .aboutMe h1, .aboutMe p, .projects h1, .projects h4, .projects p, .tools h1, .tools h4, .tools p, .contactMe h1, .contactMe p {
        text-align: center;
    }

    .contactMe h4, .sendEmail {
        font-size: 5vw;
    }
    
    .revealFromRight, .revealFromLeft {
        position: relative;
        transform: translateY(200px);
        opacity: 0;
        transition: 1s all ease;
    }
    
    .revealFromRight.active, .revealFromLeft.active {
        transform: translateY(0);
        opacity: 1;
    }
    
}